/* HomePage.css */

.hero {
  text-align: center;
  padding: 20px;
}

.coeur {
  width: 100%;
  max-width: 160px;
  height: auto;
}

.animaux-list {
  list-style: none;
  padding: 0;
}

.animaux-list li {
  margin: 10px;
  text-align: center;
}

.image-wrapper {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 15px; /* Ajout de border-radius pour les conteneurs d'images */
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 15px; /* Ajout de border-radius pour les images */
}

/* Ajout de styles personnalisés pour les éléments <h2> */
.hero h2.custom-h2 {
  font-size: 1.5rem !important; /* Ajuste la taille de la police selon tes besoins */
}

@media (max-width: 768px) {
  .animaux-list li {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero p {
    font-size: 14px;
  }
}
