.header {
  position: relative;
  background-image: url("../../assets/photodechats.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  height: auto;
}
