.navbar {
  background-color: rgb(162, 96, 96);
  padding: 10px 0;
  position: relative;
  z-index: 100;
  width: 100%;
}

.navList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.navbar a:hover {
  text-decoration: underline;
}

.menuButton {
  display: none;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(162, 96, 96);
    color: white;
    border: none;
    cursor: pointer;
  }

  .navList {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .navbar.open .navList {
    display: flex;
  }

  .navList li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
}
