.grille {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.carte-animal {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.animal-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.animal-info {
  flex: 1;
}

.animal-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.animal-info ul li {
  margin-bottom: 8px;
}
